.g-center{
	width:992px;
	height: 900px;
	margin:0 auto;
	border-bottom: 1px solid #afafaf;
}
.g-second{
	width: 612px;
	height: 52px;
	line-height: 52px;
	font-size: 12px;
	color:#929292;
	display: flex;
	justify-content: space-between;
}
.g-max-pic{
	width: 480px;
	float: left;
}
.g-picture{
	width:480px;
	height: 640px;
	position: relative;
}
.g-mirror{
	width:120px;
	height:160px ;
	background: #000000;
	opacity: 0.4;
	position: absolute;
	left:0;
	top:0;
	display: none;
}
.g-bigmirror{
	width:360px;
	height: 480px;
	position: absolute;
	left:480px;
	top:0;
	border:1px solid #000000;
	overflow: hidden;
	display: none;
}
/*.g-bigmirror img{
	
}*/
#mrrirImg{
	position:absolute;
	left:0;
	top:0;
	width:1440px;
	height: 1920px;
}
.g-box1{
	width:480px;
	/*height:630px;*/
	/*border:1px solid black;*/
	float: left;
	padding-left: 30px;
}
.IVYH{
	font-size: 24px;
	font-weight: bold;
	line-height: 36px;
}
.IVYH a{
	font-size: 14px;
	color: #929292;
	float:right;
}
.IVYH img{
	margin-bottom: -5px;
}
.g-price{
	width:480px;
	height: 70px;
	line-height: 70px;
	display: flex;
	justify-content: space-between;
}
.g-price p{
	font-size:20px;
	font-weight: bold;
}
.g-price p span{
	margin-left: 20px;
}
.g-box2{
	width:480px;
	height: 40px;
	background: #eeeeee;
	line-height: 40px;
	font-size: 14px;
}
.g-box2 img{
	margin-left:20px;
	margin-right: 20px;
	vertical-align: middle;
}
.g-color{
	line-height: 42px;
	color:#929292;
	font-size: 14px;
	margin-top:20px;
}
.g-box3{
	width: 58px;
	height: 94px;
}
.g-color-picture{
	width: 58px;
	height: 76px;
	border:1px solid #929292;
}

.g-color-picture img{
	width:100%;
	height:100%;
}
.g-box3 p{
	width:60px;
	color: #fff;
	line-height: 18px;
	background: #000000;
	font-size: 14px;
	text-align: center;
}
.g-chiMa{
	line-height: 42px;
	color:#929292;
	font-size: 14px;
	
}
.g-HaoMa{
	width: 302px;
	display: flex;
	flex-direction: row;
	/*justify-content: space-between;*/
	flex-wrap: wrap;
}
.g-HaoMa li{
	width: 60px;
	height: 34px;
	background: #eeeeee;
	margin:5px;
	float: left;
	line-height: 34px;
	text-align: center;
}
.g-num{
	line-height: 42px;
	color:#929292;
	font-size: 14px;
}
.g-input{
	width: 60px;
	height: 34px;
	background: #eeeeee;
	font-size:20px;
}
.g-add{
	display: inline-block;
	width:40px;
	text-align: center;
}
.g-date{
	line-height: 42px;
	color:#929292;
	font-size: 14px;
}
.g-date span{
	color:#000000;
	font-weight: bold;
}
.g-gouwu{
	width:480px;
	display: flex;
	justify-content: space-between;
	text-align: center;
	line-height: 42px;
}
.g-jiaru{
	width:230px;
	height: 42px;
	background: #000000;
	color:#fff;
}
.g-jiaru img{
	vertical-align: middle;
}
.g-goumai{
	width:230px;
	height: 42px;
	background: #dd2828;
	color:#fff;	
}
.g-xiaoPicture{
	width:480px;
	height: 198px;
}
.g-xiaoPicture div{
	width: 80px;
	height: 107px;
	/*border: 1px solid black;*/
	float: left;
	margin:5px;
}
.g-xiaoPicture div img{
	width:100%;
	height: 100%;
}
.g-Time{
	width: 356px;
	height: 48px;
	/*border:1px solid #000000;*/
	display: flex;
	justify-content: space-between;
	font-size: 14px;
	margin-top:60px;
}
.g-Time-1{
	width:78px;
	
}
.g-Time-1 p{
	line-height: 24px;
	font-weight: bold;
	margin:5px;
}
.g-Time-1 p:nth-child(2){
	color:#929292;
	font-weight: 100;
}
.g-Time-2{
	line-height: 48px;
	text-align: center;
	color: #929292;
}
.g-Time-2 span{
	display: inline-block;
	width:40px;
	height: 46px;
	border:1px solid #929292;
	font-size:26px;
	color: #000000;
	font-weight: bold;
	margin:5px;
}
.g-7tui{
	width:264px;
	height: 22px;
	display: flex;
	justify-content: space-between;
	font-size:14px;
	font-weight: bold;
	line-height: 22px;
	margin-top: 40px;
}
.g-7tui p img{
	vertical-align: middle;
	margin-right: 5px;
}
