html,body,div,p,form,ul,li,ol,dl,dt,dd,table,tr,td,th,hr,h1,h2,h3,h4,h5,h6,img,input{
	margin:0;
	padding:0;
	list-style: none;
}
body{
	background: #f7f7f9;
}
.zhuce{
	width:1002px;
	height:827px;
	background: rgba(0, 0, 0, 0) url(https://cdn15.mei.com/category/20170526/20170526172702718.jpg@1000w_827h_2e_100q&quot;) no-repeat scroll 0% 0%;
	margin:0 auto;
}
.one{
	width:376px;
	height:68px;
	margin:0 auto;
}
.one-1{
	width:212px;
	height:68px;
	float:left;
	background: url(https://cdn11.mei.com/images/base_z.png) no-repeat;
	background-position: -853px -291px;
	/*border: 1px solid black;*/
}
.one-2{
	width:160px;
	height:68px;
	float:left;
	background: url(https://cdn11.mei.com/images/base_z.png) no-repeat;
	background-position: -880px -70px;
	/*border: 1px solid black;*/
}
.login{
	width:353px;
	height: 370px;
	border-bottom: 1px solid #a8aaab;
	margin-top:120px;
	margin-left: 450px;
}
.login-box1{
	width: 353px;
	height: 35px;
}
.login-box1 h2{
	width: 240px;
	display: block;
	text-align: center;
	font-size:16px;
	float:left;
}
.login-box1 span{
	display: block;
	width:103px;
	float: left;
	font-size:14px;
	text-align: right;
	margin-right: 10px;
}
.login-box2{
	width: 353px;
	line-height: 25px;
	padding-left:90px;
	color: red;
	font-size: 12px;
}
.login-box3{
	width:353px;
	height: 312px;
	border:1px solid black;
}
.login-box3 input{
	width: 260px;
	height: 30px;
	margin:5px;
	float: right;
}

