html,body,div,p,form,ul,li,ol,dl,dt,dd,table,tr,td,th,hr,h1,h2,h3,h4,h5,h6,img,input{
	margin:0;
	padding:0;
	list-style: none;
}
body{
	background: #f7f7f9;
}
.zhuce{
	width:1002px;
	height:827px;
	background: rgba(0, 0, 0, 0) url(https://cdn15.mei.com/category/20170526/20170526172702718.jpg@1000w_827h_2e_100q&quot;) no-repeat scroll 0% 0%;
	margin:0 auto;
}
.one{
	width:376px;
	height:68px;
	margin:0 auto;
}
.one-1{
	width:212px;
	height:68px;
	float:left;
	background: url(https://cdn11.mei.com/images/base_z.png) no-repeat;
	background-position: -853px -291px;
	/*border: 1px solid black;*/
}
.one-2{
	width:160px;
	height:68px;
	float:left;
	background: url(https://cdn11.mei.com/images/base_z.png) no-repeat;
	background-position: -880px -70px;
	/*border: 1px solid black;*/
}
.login{
	width:353px;
	height: 388px;
	border-bottom: 1px solid #a8aaab;
	margin-top:100px;
	margin-left: 450px;
}
.login-box1{
	width: 353px;
	height: 35px;
}
.login-box1 h2{
	width: 240px;
	display: block;
	text-align: center;
	font-size:16px;
	float:left;
}
.login-box1 span{
	display: block;
	width:103px;
	float: left;
	font-size:14px;
	text-align: right;
	margin-right: 10px;
}
.login-box2{
	width: 353px;
	line-height: 25px;
	padding-left:90px;
	color: red;
	font-size: 12px;
}
.login-box3{
	width:353px;
	height: 312px;
	/*border:1px solid black;*/
}
 .input01{
	width: 247px;
	height: 30px;
	margin:5px;
	/*float: right;*/
	padding-left:10px;

}
.input02{
	width: 103px;
	height: 30px;
	/*margin:5px;*/
	/*float: right;*/
	padding-left:10px;

}
.input03{
	width: 120px;
	height: 30px;
	margin:5px;
	/*float: right;*/
	padding-left:10px;

}
li{
	width:353px;
	height: 44px;
}
li span{
	display: inline-block;
	width:72px;
	/*height:30px;*/
	margin:5px;
	font-size: 12px;
	color:#000;
	font-weight: 600;
	text-align: right;
	line-height: 44px;
}
.input04{
	width: 261px;
	height: 32px;
	margin-top:10px;
	margin-right: 5px;
	border:1px solid transparent;
	background: red;
	float:right;
}
.login-box3 p{
	width:266px;
	float:right;
	font-size:12px;
	font-weight: blod;
	line-height: 28px;
}
.login-box3 p a:hover{
	color:red;
}
.login-box4{
	width:266px;
	height:200px;
	/*border:1px solid #000000;*/
	margin-left: 87px;
}
.login-box4 img{
	float: left;
	margin-top:22px;
}
.erWeiMa{
	width:125px;
	line-height: 20px;
	font-size: 12px;
	float:left;
	margin-left:15px;
	margin-top:42px;
}
