* {
 padding:0;
 margin:0;
 border:0;
 outline:0;
 background:transparent;
 letter-spacing:.5px
}
div,dl,dt,dd,form,h1,h2,h3,h4,h5,h6,img,ol,ul,li,table,th,td,p,span,a {
 border:0
}
img,input {
 border:0;
 vertical-align:middle
}
body {
 font-family:Microsoft YaHei,Tahoma,Arial,Helvetica,sans-serif;
 font-size:12px;
 background-color:#dddddb;
 color:#000
}
html {
 overflow-y:scroll
}
ul,ol,li {
 list-style:none
}
th,td,input {
 font-size:12px
}
h1,h2,h3,h4,h5,h6 {
 font-size:10 0;
 font-weight:400
}
h3 {
 font-size:14px
}
button {
 border:0;
 cursor:pointer;
 font-size:12px;
 background-color:transparent
}
select {
 border-width:1px;
 _zoom:1;
 border-style:solid;
 padding-top:2px;
 font-size:12px
}
.clear {
 clear:both;
 font-size:1px;
 height:0;
 visibility:hidden;
 line-height:0
}
.clearfix:after {
 content:"";
 display:block;
 clear:both
}
.clearfix {
 zoom:1
}
a:link,a:visited {
 text-decoration:none;
 color:#000
}
a:hover,a:active {
 text-decoration:none;
 color:#db2725
}
.login_wrapper {
 width:100%;
 height:auto;
 overflow:hidden;
 background-color:#dddddb;
 background-image:url(https://cdn11.mei.com/images/login/photo_03.png);
 background-repeat:repeat-x
}
.login_container {
 width:1000px;
 height:auto;
 overflow:hidden;
 margin:0 auto
}
.login_header {
 background-image:url(https://cdn11.mei.com/images/login/logo.png);
 width:369px;
 height:36px;
 margin:0 auto;
 margin-top:30px;
 background-repeat:no-repeat;
 cursor:pointer
}
.login_content {
 width:950px;
 height:650px;
 overflow:hidden
}
.login_content .login_main {
 float:right;
 width:350px;
 height:auto;
 overflow:hidden;
 margin-top:60px;
 margin-right:150px
}
.login_footer {
 overflow:hidden;
 width:1000px;
 height:auto
}
.login_footer div {
 width:165px;
 height:60px;
 float:left;
 border-right:solid 1px #777;
 text-align:center;
 overflow:hidden;
 cursor:pointer
}
.login_footer .footer_box6 {
 border:0
}
.login_footer h4 {
 position:relative;
 top:45px
}
.login_copyright {
 padding:20px 0
}
.footer_box1 {
 background:url(https://cdn11.mei.com/images/icon_BSO.png) no-repeat;
 background-position:67px 5px
}
.footer_box1:hover {
 background:url(https://cdn11.mei.com/images/icon_BSO_hover.png) no-repeat;
 background-position:67px 5px
}
.footer_box2 {
 background:url(https://cdn11.mei.com/images/icon_freight.png) no-repeat;
 background-position:61px 7px
}
.footer_box2:hover {
 background:url(https://cdn11.mei.com/images/icon_freight_hover.png) no-repeat;
 background-position:61px 7px
}
.footer_box3 {
 background:url(https://cdn11.mei.com/images/icon_return.png) no-repeat;
 background-position:70px 5px
}
.footer_box3:hover {
 background:url(https://cdn11.mei.com/images/icon_return_hover.png) no-repeat;
 background-position:70px 5px
}
.footer_box4 {
 background:url(https://cdn11.mei.com/images/icon_discount.png) no-repeat;
 background-position:68px 5px
}
.footer_box4:hover {
 background:url(https://cdn11.mei.com/images/icon_discount_hover.png) no-repeat;
 background-position:68px 5px
}
.footer_box5 {
 background:url(https://cdn11.mei.com/images/icon_flashsales.png) no-repeat;
 background-position:70px 5px
}
.footer_box5:hover {
 background:url(https://cdn11.mei.com/images/icon_flashsales_hover.png) no-repeat;
 background-position:70px 5px
}
.footer_box6 {
 background:url(https://cdn11.mei.com/images/icon_telephone.png) no-repeat;
 background-position:70px 5px
}
.footer_box6:hover {
 background:url(https://cdn11.mei.com/images/icon_telephone_hover.png) no-repeat;
 background-position:70px 5px
}
.erweima {
 margin-left:90px;
 margin-top:20px
}
.erweima img {
 float:left
}
.erweima p {
 line-height:20px;
 margin-top:16px;
 float:right;
 margin-right:18px
}
.xian {
 background-color:#a8aaab;
 width:350px;
 height:1px;
 margin-left:0;
 overflow:hidden;
 margin-top:19px
}
.hydl_regsiter {
 margin-left:90px;
 width:260px;
 height:auto;
 overflow:hidden;
 padding-bottom:10px
}
.hydl_regsiter h2 {
 font-size:16px;
 font-weight:bold;
 float:left
}
.hydl_regsiter span {
 float:right;
 margin-top:2px
}
.hydl_regsiter span a {
 font-size:14px;
 color:#db2725;
 text-decoration:underline
}
.hydl_regsiter span a:link {
 font-size:14px;
 color:#db2725;
 text-decoration:underline
}
.hydl_regsiter span a:visited {
 font-size:14px;
 color:#db2725;
 text-decoration:underline
}
.hydl_loginbar {
 width:100%;
 height:auto;
 overflow:hidden
}
.hydl_loginbar ul li {
 height:auto;
 overflow:hidden;
 margin-bottom:10px;
 width:350px;
 text-align:left
}
.hydl_loginbar span {
 float:left;
 width:75px;
 margin-right:15px;
 height:30px;
 line-height:30px;
 overflow:hidden;
 text-align:right;
 white-space:nowrap;
 display:inline
}
.hydl_loginbar input {
 width:253px;
 padding-left:5px;
 height:28px;
 border:1px solid #999;
 color:#999;
 line-height:28px;
 float:left
}
.hydl_loginbar .yanzheng {
 width:108px;
 height:28px
}
.hydl_loginbar img {
 float:right
}
.hydl_btn {
 width:260px;
 height:35px;
 overflow:hidden;
 margin-left:90px
}
.hydl_btn a {
 display:block;
 background-color:#db2725;
 width:260px;
 height:35px;
 text-align:center;
 line-height:35px;
 color:#FFF;
 font-size:14px
}
.hydl_btn a:link {
 text-decoration:none;
 color:#fff
}
.hydl_btn a:visited {
 text-decoration:none;
 color:#fff
}
.hydl_btn a:hover {
 text-decoration:none;
 color:#fff
}
.hydl_btn a:active {
 text-decoration:none;
 color:#fff
}
.hydl_login {
 padding-left:90px;
 height:auto;
 overflow:hidden;
 margin-top:10px
}
.hydl_login p {
 float:left;
 overflow:hidden
}
.hydl_login span {
 text-decoration:underline;
 float:right
}
.hydl_login .zidong {
 margin-right:3px;
 position:relative;
 bottom:2px
}
.hydl_partner {
 width:350px;
 height:auto;
 overflow:hidden;
 margin:20px 0 0 0
}
.hydl_partner h4 {
 width:75px;
 float:left;
 text-align:right;
 margin-right:15px;
 white-space:nowrap
}
.hydl_partner img {
 float:left;
 margin:0 25px 0 0
}
.sjzh_login {
 width:260px;
 padding-left:90px;
 height:auto;
 overflow:hidden
}
.sjzh_login p {
 float:left;
 margin:10px 0 0 0;
 text-align:left
}
.sjzh_login .p1 {
 float:left;
 margin:20px 0 0 0;
 text-align:left
}
.sjzh_login span {
 text-decoration:underline
}
.hydl_loginbar .ma {
 margin:0;
 margin-left:10px;
 line-height:30px;
 color:#000
}
.hydl_loginbar .ma a {
 text-decoration:none
}
.hydl_loginbar .ma b {
 color:#db2726;
 font-weight:normal
}
.yxzh_login {
 width:260px;
 padding-left:90px;
 height:auto
}
.yxzh_login p {
 margin:10px 0 0 0;
 text-align:left
}
.yxzh_login .p1 {
 margin:20px 0 0 0;
 text-align:left
}
.yxzh_login span {
 text-decoration:underline
}
.xyzh2_loginbar {
 width:100%;
 height:auto;
 overflow:hidden
}
.xyzh2_loginbar ul li {
 text-align:left
}
.xyzh2_loginbar ul li a {
 text-decoration:underline
}
.xyzh2_loginbar ul {
 margin-bottom:20px;
 margin-left:90px;
 display:block
}
.sjzc_login {
 width:260px;
 padding-left:90px;
 height:auto;
 overflow:visible
}
.sjzc_login p {
 float:left;
 margin:8px 0 0 0;
 display:inline;
 text-align:left;
 line-height:18px;
 width:260px
}
.sjzc_login .zidong {
 margin-right:3px;
 position:relative;
 bottom:2px
}
.sjzc_login span {
 text-decoration:underline
}
.hydl_loginbar p {
 color:#db2725;
 margin-left:90px;
 margin-top:3px
}
.hydl_loginbar p a {
 text-decoration:underline;
 color:#db2725
}
.login_safety {
 width:auto;
 margin-left:89px;
 height:15px;
 margin-top:5px
}
.login_safety span {
 display:block;
 width:86px;
 height:15px;
 text-align:center;
 line-height:15px;
 color:#fff;
 float:left;
 display:inline;
 background-color:#929292;
 margin-left:1px;
 margin-right:0
}
#safety_grade_now {
 background-color:#000
}
.szmm_loginbar {
 width:100%;
 height:auto;
 overflow:hidden
}
.szmm_loginbar ul li {
 text-align:left;
 font-size:18px
}
.szmm_loginbar ul p {
 text-align:left
}
.szmm_loginbar ul p span {
 color:#db2725
}
.szmm_loginbar ul {
 margin-bottom:140px;
 margin-left:90px;
 display:block
}
.login_content1 {
 width:720px;
 height:500px;
 overflow:hidden;
 background-position:top left;
 background-size:cover
}
#login_content1 {
 height:460px
}
.login_content1 .login_main {
 float:right;
 width:350px;
 height:auto;
 overflow:hidden;
 margin-top:35px;
 margin-right:20px
}
.pop_phoneVerification {
 width:425px;
 height:230px;
 padding:17px 0 0 75px;
 overflow:hidden;
 background-color:#fff
}
.guide {
 text-align:left;
 padding-left:90px;
 font-size:14px;
 font-weight:bold;
 margin-bottom:2px
}
.guide span {
 color:#db2726
}
.guide1 {
 text-align:left;
 padding-left:90px;
 margin-bottom:17px
}
.top10px {
 padding-top:10px
}
.newPeople {
 width:260px;
 padding-left:90px;
 height:auto;
 overflow:hidden;
 text-align:left;
 padding-bottom:10px;
 _padding-bottom:0
}
.newPeople span {
 color:#db2726
}
.bottomText {
 width:350px;
 height:auto;
 overflow:hidden;
 padding-top:18px
}
.bottomText ul li {
 float:left;
 text-align:left;
 width:140px;
 margin-left:20px;
 margin-bottom:10px;
 background:url(https://cdn11.mei.com/images/icon_dot.gif) no-repeat;
 background-position:0 5px;
 padding-left:12px
}
.zccg_loginbar {
 width:100%;
 height:auto;
 overflow:hidden
}
.zccg_loginbar ul li {
 text-align:left;
 line-height:18px
}
.zccg_loginbar ul .li1 {
 position:relative;
 top:4px
}
.zccg_loginbar ul li span {
 color:#db2726
}
.zccg_loginbar ul {
 margin-bottom:18px;
 margin-left:90px;
 display:block
}
.omewiap {
 background-color:white;
 width:370px;
 height:100%
}
.lastone_ax {
 margin-left:90px;
 width:260px;
 height:auto;
 overflow:hidden;
 padding-bottom:10px;
 text-align:left
}
.lastone_ax h2 {
 font-size:16px;
 font-weight:bold;
 float:none
}
.lastone_ax p {
 font-size:14px
}
.lastone_ax p span {
 color:#de272c;
 float:none
}
